<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>com.apple.developer.networking.slicing.appcategory</key>
	<array>
		<string>streaming-9001</string>
	</array>
	<key>com.apple.developer.networking.slicing.trafficcategory</key>
	<array>
		<string>video-2</string>
	</array>
</dict>
</plist>
